<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Targets -->
  <targets>
    <target name="logfile" xsi:type="File" fileName="file.txt" />
    <target name="logconsole" xsi:type="Console" />

    <!-- add [${logger}] to get class/method name -->
    <target xsi:type="ColoredConsole"
            name="DebugLogger"
            encoding="utf-8"
            layout="${date} [${level:uppercase=true}]: ${message}"
            useDefaultRowHighlightingRules="true"
            errorStream="false"
            enableAnsiOutput="false"
            detectConsoleAvailable="false"
            DetectOutputRedirected="false" />
  </targets>

  <!-- Rules -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="ConsoleLogger" />
    <logger name="*" minlevel="Debug" writeTo="DebugLogger" />
  </rules>

</nlog>